<div class="container">
  <mat-card>
    <mat-card-title>Créer votre compte</mat-card-title>
    <mat-card-content>
      <form [formGroup]="inscriptionForm" (submit)="submit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" />
          <mat-error>
            Veuillez renseigner une adresse email.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput type="text" formControlName="name" />
          <mat-error>
            Veuillez renseigner un nom.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error>
            Veuillez renseigner un mot de passe.
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Inscription</button>
      </form>
      <p>Form value: {{ inscriptionForm.value | json }}</p>
      <p>Form Status: {{ inscriptionForm.status }}</p>
    </mat-card-content>
  </mat-card>
</div>
