.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
mat-card {
  width: 100%;
  max-width: 500px;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

mat-form-field {
  margin-bottom: 10px;
}
